.navigation__menu {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $colorTitle;
    transition: color $duration $timingFunction;

        &:hover, &:focus {
            color: $colorAccentPrimary;
        }
}

.navigation__menu--current {
    color: $colorAccentPrimary;
}

.header__contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color $duration $timingFunction;

        &:hover, &:focus {
            color: $colorAccentPrimary;
        }
}